@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --primary:#5463e5;
  --secondary:#200653;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
    --primary:#5463e5;
    --secondary:#200653;
  }
}

body.dark {
  --background: #0a0a0a;
  --foreground: #ededed;
  --primary:#6bc213;
  --secondary:#053a06;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
}

a,p{
  color: var(--background);
  text-decoration: none;
  text-transform: 14px;
  font-weight: 500;
  line-height: 100%;
}


.page-content{
  width: 100%;
  height: 100%;
  min-height: 100vh;
  padding: 6em 2em;
  transition: background 0.5s ease-in-out;


}

.page-content.hero{
  background: url("./back.jpg") no-repeat 50% 50%;
  background-size: cover;
}



h1{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 4vw;
  font-weight: 400;
  letter-spacing: -0.04em ;
  color: var(--foreground);
}

h1 sup{
  position: relative;
  top: -20px;
  left: 10px;
  font-size: 1.5vw;
  letter-spacing: -0.04em ;
}

@media (max-width: 980px){
  .page-content h1{
    font-size: 10vw;
  }
  h1 sup{
    font-size: 4vw;
  }
}


